@import "header.css";
@import "hero.css";
@import "main.css";
@import "form.css";
@import "footer.css";
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald:wght@200;300&display=swap");

:root {
  /* FONTS */
  --montserrat-font: "Montserrat", sans-serif;
  --oswald-font: "Oswald", sans-serif;

  --text-copy: 0.5rem;
  --text-xxs: 0.75rem;
  --text-sm: 0.875rem;
  --text: 1rem;

  --title-xs: 1.1rem;
  --title-sm: 1.15rem;
  --title: 1.5rem;
  --title-l: 2.25rem;

  --fw-light: 300;
  --fw-regular: 400;

  /* COLORS */
  --main-blue: #1896e1;
  --main-blue-hover: #1897e1d0;
  --main-dark-blue: #1672a9;
  --main-gray: #525e65;
  --main-white: #ffffff;
  --main-black: #1b2931;
  --secondary-gray: #a8b8c1;
  --secondary-blue: #79c6f4;
  --secondray-light-blue: #bdddf1;
  --secondary-light-gray: #c3d0d8;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  outline: none;
  border: none;
}

li {
  list-style: none;
}

.page {
  position: relative;
  height: 1000px;
  font-family: var(--oswald-font);
  font-size: var(--text-sm);
  color: var(--main-gray);
  font-weight: var(--fw-light);
}

.page__title {
  font-size: var(--title);
}

.page__section {
  max-width: 1440px;
  margin: 0 auto;
}

.scroll--hidden {
  overflow: hidden;
}

.button {
  text-align: center;
  padding: 5px 10px;
  font-family: var(--oswald-font);
  font-size: var(--text-sm);
  color: var(--main-white);
  background-color: var(--main-blue);
  cursor: pointer;
  height: 36px;
}

.hover {
  transition: background-color 0.2s linear;
}

.hover:hover {
  background-color: var(--main-blue-hover);
}

.link {
  transition: color 0.1s ease-in-out;
}

.link:hover {
  color: var(--secondary-light-gray);
}

.hidden {
  display: none;
}

.show {
  display: block;
  position: absolute;
  z-index: 999;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-color: #ffffff;
}

@media (min-width: 768px) {
  .page {
    font-size: var(--text);
  }
}

@media (min-width: 1280px) {
  .page {
    font-size: var(--text-l);
  }

  .page__title {
    font-size: var(--title);
  }

  .button {
    font-size: var(--text);
  }
}
